
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-xl);
}

.schedule-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.form-group {
  display: flex;
  flex-direction: column;
}


.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}